/* .sel-main {
    display: flex;
    align-items:flex-start;
    
}

 .sel-pageh2hidden {
    display: none;
}  

.sel-pageh2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:30%;
    padding: 1%   
}

#selpageh3hidden {
    text-align: center;
    opacity: 0;
}

#selpageh3 {
    text-align: center;
    opacity: 1;
} */

/* 
#worksiteAddRemMenu {
   display: none;
} */

.selectionMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




#worksiteAddRemMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 4px;
    margin-left: 20px;
    padding: 4px;
    

}



#worksiteAddTitle {
    display: none;
    margin: 4px;
    
}

.cancelSubmitBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#worksiteAddCancel {
    display: none;
    align-items: center;
    width: 60px;
    height: 23px;
    margin: 4px;
}

#worksiteAddSubmit {
    display: none;
    margin: 4px;

    
}

#worksiteRemSubmit {
    display: none;
}

.addRemBtn {
    display: flex;
    justify-content: center;
}

